h1 {
  color: red;
}
.green {
  color: green;
}
#grey {
  color: grey;
}
[class="attribute"] {
  color: blue;
}
div p {
  color: rgb(197, 60, 18);
}
.daugter>p {
  color: rgb(42, 165, 48);
}
.descendant+p {
  color: rgb(238, 5, 5);
}
div~p {
  
}

